
<div class="row" data-vue="base"  data-action="accueil" data-titre-vue="Accueil" data-icone="fa fa-home"  style="display:none;">
    <div class="col-lg-4">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-plane fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Nouvelles destinations </span>
                    <h2 class="font-bold">Costa Rica</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Nouveaux partenaires </span>
                    <h2 class="font-bold">260</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-list-ul fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <h3> Choix de mobilités </h3>
                    <h2 class="font-bold">12</h2>
                </div>
            </div>
        </div>
    </div>
</div>







