
<div class="middle-box text-center animated fadeInDown" data-vue="_erreur" data-vue="e404" data-titre-vue="Page Not Found" data-icone="fa fa-blind"  style="display:none;">

    <div class="middle-box text-center animated fadeInDown">
        <h1><i class="fa fa-hashtag" aria-hidden="true"></i>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            La page démandée n'est pas dispobile
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Effecter une recherche</button>
            </form>
        </div>
    </div>
</div>
