
<div class="row" data-vue="partenaire"  data-action="details" data-titre-vue="Details sur partenaire" data-icone="fa fa-building" style="display:none;">

	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-left">

			<div class="widget navy-bg">
				<h2 class="pat-nom"></h2>

				<ul class="list-unstyled m-t-md">
					<li>
						<span class="fa fa-building"></span>
						<label>Type : </label>
						<span class="pat-type">HTTP</span>
					</li>
					<li>
						<label>Département(s) : </label>
						<div class="pat-departements">
						</div>
					</li>
					<li>
						<span class="fa fa-at"></span>
						<label>E-mail : </label>
						<span class="pat-mail"></span>
					</li>
					<li>
						<span class="fa fa-home"></span>
						<label>Adresse : </label>
						<span class="pat-adresse"></span>&nbsp;à&nbsp;<span class="pat-region"></span>
					</li>
					<li>
						<span class="fa fa-map-marker"></span>
						<label>Ville : </label>
						<span class="pat-ville"></span>&nbsp;(<span class="pat-pays"></span>)
					</li>


					<li>
						<span class="fa fa-phone"></span>
						<label>Telephone : </label>
						<span class="pat-tel">(+121) 678 3462</span>
					</li>
					<li>
						<span class="fa fa-info"></span>
						<label>Site web : </label>
						<a href="https://google.com" target="_blank" class="pat-site-web">Lien vers leur site WEB</a>
					</li>
					<li class="pat-elligible">
						<span class="fa fa-user"></span>
						<label>Createur :</label>
						<a class="pat-createur">Lien vers leur site WEB</a>
					</li>
				</ul>

			</div>

		</div>
	</div>


	<div class="hr-line-dashed"></div>



















</div>
