
<div class="row nestable" data-vue="recherche"  data-action="index" data-titre-vue="Rechercher" data-icone="fa fa-search"  style="display:none;">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<h2>
					<span class="search_nb_results">0</span> resultat(s) pour : “<span class="search-obj" class="text-navy">Mobilite 2016</span>”
				</h2>
				<div class="form-recherche">
					<form role="search">
						<label class="search-erreur erreur"></label>
						<div class="input-group">
							<input type="text" class="form-control input-lg"
									placeholder="Objet de la recheche" name="recheche_objet" id="search_all_obj" autofocus class="form-control input-lg" required>
							<span class="input-group-btn">
	                            <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg btn-primary dim dropdown-toggle" aria-expanded="false"> <i class="fa fa-search"></i>  <span class="caret"></span></button>
	                            <ul class="dropdown-menu">.
	                                <li><a href="#/recherche/partenaire" class="search-on">Partenaire</a></li>
	                                <!-- <li><a href="#/recherche/mobi/" class="search-on ">Mobilite</a></li> -->
	                                <li><a href="#/recherche/user" class="search-on">Etudiant</a></li>
	                                <li class="divider"></li>
	                                <li><a href="#/recherche/all" class="search-on">J'ai de la chance</a></li>
	                            </ul>
	                        </span>
						</div>
					</form>
				</div>

				<div class="hr-line-dashed"></div>

				<div class="tabs-container">
					<ul class="nav nav-tabs">
						<li><a data-toggle="tab" href="#tab-mobi"> <i class="fa fa-rocket"></i>Mobilites</a></li>
						<li><a data-toggle="tab" href="#tab-pat"><i class="fa fa-university"></i> Partenaires</a></li>
						<li class="active"><a data-toggle="tab" href="#tab-users"><i class="fa fa-users"></i>Etudiant(es)</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab-mobi" class="tab-pane">
							<div class="panel-body">
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur.</a></h3>
									<a href="#" class="search-link">www.inspinia.com/inspinia</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui illum et, itaque possimus veritatis architecto placeat ullam deserunt ratione quis odit, consequatur. Accusamus maiores vel, corporis itaque, vero, nobis libero quibusdam, distinctio cupiditate repellat provident.
									</p>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
									<a href="#" class="search-link">https://wrapbootstrap.com/‎</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure veniam provident tenetur aperiam rerum voluptates nisi quos officiis veritatis vel temporibus doloribus recusandae similique eos, voluptate eius soluta in. Illum.
									</p>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Lorem | Ipsum | Dolor.</a></h3>
									<a href="#" class="search-link">https://www.facebook.com/wrapbootstrap‎</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum dolorem animi quae, assumenda vitae fuga sit, nam ipsum ea vero earum eveniet ut in. Eum.
									</p>
								</div>
							</div>
						</div>

						<div id="tab-pat" class="tab-pane">
							<div class="panel-body">
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Lorem ipsum.</a></h3>
									<a href="#" class="search-link">www.quora.com/Wrapbootstrap‎‎</a>
									<p>
										If you are familiar with using any other HTML/CSS themes or WordPress themes then you shouldn't have any problems. If you have some experience using the ...
									</p>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.  ...</a></h3>
									<a href="#" class="search-link">https://wrapbootstrap.com/‎‎</a>
									<p>
										What's black, white and red all over? The answer is Newspaper. A stylish magazine/news style theme inspired by black and white newsprint. The theme is.
									</p>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="search-result">
									<h3><a href="#">Admin Themes Wrapbootstrap</a></h3>
									<a href="#" class="search-link">https://wrapbootstrap.com/themes/admin‎‎</a>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. In laudantium esse a architecto magni ullam quo perferendis ipsa vel quam, odio amet rem, reprehenderit nihil fugit porro. Quia laborum dolorum expedita maiores pariatur dignissimos autem ipsum voluptate suscipit, voluptatum, totam similique ipsam est quaerat sint excepturi praesentium ex impedit ducimus?
									</p>
								</div>
								<div class="hr-line-dashed"></div>
							</div>
						</div>
						<div id="tab-users" class="tab-pane active">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="contact-box">
											<a href="#/user/details/2">
												<div class="col-sm-4">
													<div class="pull-left">
														<img alt="image" class="img-circle m-t-xs img-responsive" src="img/avatar.png">
														<div class="m-t-xs font-bold">User.departement</div>
													</div>
												</div>
												<div class="col-sm-8">
													<h3><strong>User.Nom, User.Prenom</strong></h3>
													<p>User.pseudo</p>
												</div>
												<div class="clearfix"></div>
											</a>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="contact-box">
											<a href="#/user/details/15">
												<div class="col-sm-4">
													<div class="pull-left">
														<img alt="image" class="img-circle m-t-xs img-responsive" src="img/avatar.png">
														<div class="m-t-xs font-bold">User.departement</div>
													</div>
												</div>
												<div class="col-sm-8">
													<h3><strong>User.Nom, User.Prenom</strong></h3>
													<p>User.pseudo</p>
												</div>
												<div class="clearfix"></div>
											</a>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="contact-box">
											<a href="#/user/details/1/MockPseudo">
												<div class="col-sm-4">
													<div class="pull-left">
														<img alt="image" class="img-circle m-t-xs img-responsive" src="img/avatar.png">
														<div class="m-t-xs font-bold">User.departement</div>
													</div>
												</div>
												<div class="col-sm-8">
													<h3><strong>User.Nom, User.Prenom</strong></h3>
													<p>User.pseudo</p>
												</div>
												<div class="clearfix"></div>
											</a>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="contact-box">
											<a data-action href="#/user/details/919/">
												<div class="col-sm-4">
													<div class="pull-left">
														<img alt="image" class="img-circle m-t-xs img-responsive" src="img/avatar.png">
														<div class="m-t-xs font-bold">User.departement</div>
													</div>
												</div>
												<div class="col-sm-8">
													<h3><strong>User.Nom, User.Prenom</strong></h3>
													<p>User.pseudo</p>
												</div>
												<div class="clearfix"></div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- Tab Users -->

					</div> <!-- Tab Content -->
				</div><!--  Tab Container -->
			</div><!--  IBoc Content -->

		</div> <!-- IBox -->
	</div>
</div> <!-- Row -->
