
<div class="row animated fadeIn" data-action="connexion" data-vue="quidam" data-titre-vue="Se connecter" data-icone="fa fa-lock"  style="display:none;">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel login-panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title center">Authentification</h3>
			</div>
			<form role="form">
				<div class="panel-body">
					<div class="form-group">
						<label for="identifiant">Identifiant : </label>
						<p class="erreur"> </p>
						<input  class="form-control" id="identifiant"
						required autofocus=true
						name="identifiant" placeholder="Introduisez votre identifiant" type="text">
					</div>

					<div class="form-group">
						<label for="con_mdp">Mot de passe : </label>
						<p class="erreur"> </p>
						<input class="form-control" id="con_mdp"
						required
						name="mdp" placeholder="Introduisez votre mot de passe" type="password">
					</div>

				</div>
				<div class="panel-footer">
					<a href="#connecter" class="btn btn-lg btn-block btn-outline btn-success" data-action>Se connecter</a>
				</div>
			</form>
		</div>
	</div>
</div>
