
	<div class="sidebar-collapse" data-menu='quidam'  style="display:none;">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> <span>
					<img alt="image" class="img-circle" src="img/gerasmus_logo.jpg" />
				</span>

				</div>
			</li>

			<li data-vue-future="connexion" >
				<a href="#connexion" data-vue-future="connexion" >
					<i class="fa fa-unlock"></i>
					<span class="title nav-label" >Se connecter</span>
				</a>
			</li>

			<li data-vue-future="inscription" >
				<a href="#inscription" data-vue-future="inscription" >
					<i class="fa fa-user-plus"></i>
					<span class="title nav-label" >S'inscrire</span>
				</a>
			</li>

		</ul>
	</div>
