
<div class="row " data-vue="mobilite" data-action="list" data-titre-vue="Mobilités introduites pour l'année courante" data-icone="fa fa-list-ol" style="display:none;">

	<!-- Modal pour confirmer suppression de choix -->
	<div class="modal fade" id="modal_list_mobi"  tabindex="-1"  role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close-link pull-right " data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></a>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<div class="mobi_maj_etat"><select name="mobi_etat"></select></div>
					<div class="mobi_confirm_doc"><select name="mobi_doc" multiple></select></div>
					<div class="mobi_encode_logi"><select name="mobi_logiciel" multiple></select></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="btn_confirm_maj">Confirmer</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="col-lg-10 col-md-offset-1">
		<div class="row search-options" >
			<form role="search">
				<div class="row">
					<div class="form-group col-md-5 col-md-offset-1 text-center">
						<label class="control-label">Departements</label>
						<select name="departements_ipl" multiple size="5" style='height: 100%;'></select>
					</div>

					<div class="form-group col-md-1 col-md-offset-3 ">
						<a class="btn btn-outline btn-lg btn-primary dim pull-right btn-mobi-lister" >
							<i class="fa fa-list-alt  fa-3x"></i>
						</a>
					</div>

				</div>

			</form>

		</div>

		<div class="panel-group mobi-list-annee">

		</div>

	</div>


</div>

